.about_me {
    background-color: #ffc107;
    color: black;

    &__picture {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description {
        margin: 10px 50px 50px 50px;

        &__title {
            display: flex;
            justify-content: center;
            margin: 50px;
            margin-bottom: 1.5rem;
            font-size: 30px;
        }
    }
}